/* Tags and most used class */

/*Heading */

.title {
    padding-left: 6.5%;
}

/* Starting Section */
.starting-container {
    width: auto;
    height: 600px;
}

.starting-image {
    width: 100%;
    background-position: center;
    background-size: cover;
    opacity: .5;
    z-index: -1;
    position: absolute;
}

.starting-image-size {
    height: 600px;

}

.starting-heading {
    width: 45%;
    padding-top: 7%;
    padding-left: 7%;
    padding-bottom: 20px;
    font-weight: 700;
}

.starting-para {
    width: 60%;
    padding-left: 7%;
    font-size: larger;
    font-weight: 500;
}

/* Sale Section */

.top-padding {
    padding-top: 7%;
}

.sale-para {
    text-align: center;
}

.more-btn {
    margin: 30px auto;
    text-align: center;
}

/* signinPage */

.signInImg {
    background-size: cover;
    background-position: center;
    height: 700px;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.container {
    height: 100%;
    align-content: center;
}

.signincard {
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.social_icon span {
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
}

.social_icon span:hover {
    color: white;
    cursor: pointer;
}

.signincard-header h3 {
    color: white;
}

.social_icon {
    position: absolute;
    right: 20px;
    top: -45px;
}

.input-group-prepend span {
    width: 50px;
    background-color: #FFC312;
    color: black;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;

}

.remember {
    color: white;
}

.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn {
    color: black;
    background-color: #FFC312;
    width: 100px;
    margin-left: auto;
    text-align: center;
}

.login_btn:hover {
    color: black;
    background-color: white;
}

.links {
    color: white;
}

.links a {
    margin-left: 4px;
}

.signInmargin {
    padding-top: 10%;
}

.submitPropertyImage {
    height: 1250px;
}

.property-center {
    margin: 0 auto;
}

.bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
}

/*------/ Property Grid /-----*/
.property-grid .grid-option {
    text-align: right;
    margin-bottom: 2rem;
}

.property-grid .grid-option .custom-select {
    border-radius: 0;
    width: 200px;
    border-color: #313131;
}

.property-grid .grid-option .custom-select:hover,
.property-grid .grid-option .custom-select:active,
.property-grid .grid-option .custom-select:focus {
    border-color: #313131;
}

.property-grid .grid-option .custom-select option {
    border-color: #313131;
}

/*------/ Property Single /-----*/
.gallery-property {
    margin-bottom: 3rem;
}

.property-price {
    margin: 0 auto;
}

.property-price .card-header-c {
    padding: 0;
}

.summary-list {
    padding-right: 1rem;
    color: #000000;
}

.summary-list .list {
    padding: 0;
    line-height: 2;
}

.summary-list .list span {
    color: #555555;
}

.title-c {
    font-size: 2.5rem;
    font-weight: 600;
    margin-left: -40px;
}

.property-description {
    height: 8rem;
}